/* .footer {
  min-height: 10vh;
  width: 100%;
  background-color: black;
  color: white;
  flex-direction: column;
  text-align: center;
}
.footer .footer-contact {
  padding: 20px;
}
.footer .footer-contact .footer-contact-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.footer .footer-contact .footer-contact-info {
  font-size: 1.4rem;
  padding-top: 10px;
  letter-spacing: 0.2rem;
}
.footer .footer-social-follow .footer-social-icon a {
  color: white;
  font-size: 3rem;
  margin: 0.4rem;
  display: inline-block;
} */

.baget {
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.05);
  font-weight: 600;
  text-transform: uppercase;
}
.contact .content i {
  font-size: 20px;
  color: black;
}
.contact .contentLeft {
  padding: 50px;
}
form {
  margin-top: 30px;
}
form textarea,
form input {
  width: 100%;
  padding: 15px;
  background: none;
  outline: none;
  border: none;
  margin-bottom: 20px;
  background: #2b2b2b;
  color: #6a6a6a;
}
form textarea {
  margin: 0;
}
